<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <main>
            <h1>Input graph name here</h1>
        </main>
    </body>
    <nav id= "nav_grid">
        <section class="nav_section">
          <a  href="{{ url_for('data_nodes')}}" class="right">data_nodes<br></a>
          <a  href="{{ url_for('hidden_nodes')}}" class="right">hidden_nodes<br></a>
          <a  href="{{ url_for('encoder')}}" class="right">encoder<br></a>
        </section>
    </nav>

</html>
