*.zarr
*.npz
*.nc
logs/
training/Nonecheckpoint/
training/outputs/
*.pyc
outputs
.venv
*.png
*.gif
checkpoint
.vscode
plot/analysis/validation_results
plot/analysis/validation_results_old
datasets/yaml_files/downscaling-v2